<%- include('navbar') -%>

<div class="container mt-5 md-5 bg-success" style="padding: 30px;">
    <h1 class="text-light"><a href="/contact" class="text-light" style="text-decoration: none; " > Welcome to My Node.JS Validation Form</a></h1>
    <div class="bg-light p-4 rounded">
        <p>
            This project represents my second solo venture into Node.js, combining my school knowledge with various YouTube tutorials. Throughout this project, I developed the following skills: <a href="/contact">Dive to the Contact Form</a>
        </p>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item">A solid understanding of the Model-View-Controller (MVC) architecture.</li>
            <li class="list-group-item">Comprehensive knowledge of how Express.js functions.</li>
            <li class="list-group-item">Proficiency in setting up a project with Express.js.</li>
            <li class="list-group-item">A strong grasp of module importation in Node.js.</li>
            <li class="list-group-item">Skill in writing reusable code in Node.js.</li>
            <li class="list-group-item">Expertise in setting routers in Node.js.</li>
            <li class="list-group-item">A thorough understanding of backend form validation processes in Node.js.</li>
            <li class="list-group-item">In-depth knowledge of how models and JSON function in Node.js.</li>
            <li class="list-group-item">A proficiency in displaying data in views.</li>
            <li class="list-group-item">Comprehensive knowledge of how models function in Node.js.</li>
        </ol>
    </div>
</div>
